@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");
.button {
  margin-top: 1rem;
  background-color: #0d0c5d;
  color: white;
  border: 2px "solid" white;
  padding: 1rem;
  cursor: pointer;
}

/* h2 {
  font-size: 10px;
  font-size: 10px;
  position: relative;
  animation: mymove 5s;
}
@keyframes mymove {
  0% {
    top: 0px;
    font-size: 10px;
  }
  100% {
    top: 200px;
    font-size: 20px;
  }
} */

h4 {
  color: #e0e0e0;
}
.quote-style {
  color: white;
  font-family: "Sansita Swashed", cursive;
}

.button span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.button:hover {
  animation: rotate 0.7s ease-in-out both;
}
.button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
